

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}



.search-box::placeholder {
    color: #2c3e50; 
}

.suggestions-box {
    width: 570px;
    background-color: #ecf0f1;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.suggestions-ul {
    list-style-type: none;
    padding: 0;
    margin: 10px; 
}


.suggestions-ul li:hover {
    background-color: #bdc3c7; 
}
body {
    background: linear-gradient(to right, #3498db, #6c5ce7); 
    margin: 0;
    display: flex;

    justify-content: center;
    height: 100vh;
}
.search-box {
    width: 550px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db; 
    border-radius: 20px 20px 0 0;
    outline: none;
    background-color: #ecf0f1; 
}

.suggestions-ul li {
    padding: 8px;
    background-color: #dfe6e9; 
    border: 1px solid #bdc3c7; 
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}